body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 18px;
}

h2{
  letter-spacing: 9px;
}

p{
  color: #4065ba;
}

.color-h1-h2{
  color: #bb5397;
}

.imagen-centrada{
  text-align: center;
}

.logo-imagen{
  width: 30%;
}

.a-derecha{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.a-izquierda{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imagen-pie{
  width: 100%;
}